<h3>Client</h3>

<hr />
<div class="row" style=" margin-bottom:200px;margin-top:200px">

    <div class="card" style="width: 18rem; margin:7px">
        <img class="card-img-top" src="img/Chat bot-pana.png" alt="Card image cap">
        <div class="card-body">

            <h5 class="card-title" style="font-family:Forte;margin-bottom:1px; color:#434548"><span style="color:#7995be">C</span>onsulting services</h5>

        </div>
    </div>
    <div class="card" style="width: 18rem; margin:7px">
        <img class="card-img-top" src="img/Chat bot-pana.png" alt="Card image cap">
        <div class="card-body">

            <h5 class="card-title" style="font-family:Forte;margin-bottom:1px; color:#434548"><span style="color:#7995be">C</span>onsulting services</h5>

        </div>
    </div>
    <div class="card" style="width: 18rem; margin:7px">
        <img class="card-img-top" src="img/Chat bot-pana.png" alt="Card image cap">
        <div class="card-body">

            <h5 class="card-title" style="font-family:Forte;margin-bottom:1px; color:#434548"><span style="color:#7995be">C</span>onsulting services</h5>

        </div>
    </div>
    <div class="card" style="width: 18rem; margin:7px">
        <img class="card-img-top" src="img/Chat bot-pana.png" alt="Card image cap">
        <div class="card-body">

            <h5 class="card-title" style="font-family:Forte;margin-bottom:1px; color:#434548"><span style="color:#7995be">C</span>onsulting services</h5>

        </div>
    </div>

</div>
@code {

}
