@page "/"

<section class="" >
    <div id="hero">
    <div  class="container-fluid" >
        <div class="row">
            <div class="col-lg-1">
             
            </div>
            <div class="col-lg-3" style="" >
                @*<img class="rebot" src="img/chatbot.gif" />*@
                <img class="rebot" src="img/chat bot (5).gif" />

             @*   <img class="rebot" src="img/chat bot (2).gif" />*@
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-6" style="margin-top:70px;">
                    <p style="font-size:70px;font-family:Forte;margin-bottom:1px; color:#434548"><span style="color:#8da9ee">U</span>Bots</p>
                <p style="font-size:30px;font-weight:300; color:#434548">
                    A chatbot is a program that simulates human-like conversations with users via chat, Its primary function
                    In responding to user questions via instant messages
                    
                </p>
            </div>
            @*<div class="col-lg-1">
            </div>*@
        </div>
    </div>
    </div>
    <OurSerives></OurSerives>
    <Packges></Packges>
    
    <Instractions></Instractions>
    <Client></Client>
</section>







