
<hr />
<h3 style=" text-align:center;font-size:50px;font-family:Forte;margin-bottom:50px; color:#434548"><span style="color:#7995be">Our</span> Services</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4" style="margin-top:50px">
            @*<img class="rebot" src="img/chatbot.gif" />*@
            <p style="font-family:Forte;font-size:40px;">Whay <span style="font-family:Forte;color:#7995be; font-size:30px">U</span>Bot</p>
            <hr />
            <p style="font-size:20px;font-weight:300; color:#434548"><spna style="font-family:Forte;color:#7995be; font-size:30px">* </spna> Now you can communicate with your customers across all local networks through instant chat on a large scale by each by achieving a balance between meeting customer requests at the same time, promptly and usefully</p>
            <p style="font-size:20px;font-weight:300; color:#434548"><spna style="font-family:Forte;color:#7995be; font-size:30px">* </spna> Now you can communicate with your customers across all local networks through instant chat on a large scale by each by achieving a balance between meeting customer requests at the same time, promptly and usefully</p>

            @*   <img class="rebot" src="img/chat bot (2).gif" />*@
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3" style="margin-top:50px;">
            <img src="img/chat bot (6).gif" />
        </div>
        @*<div class="col-lg-1">
        </div>*@
    </div>
</div>
<hr />


@code {

}


