<br />
<h3 style=" text-align:center;font-size:50px;font-family:Forte;margin-bottom:50px; color:#434548"><span style="color:#7995be">Our</span> Services</h3>

<br />
<hr />
<section class="">

    @* <div class="container-fluid">
    <div class="row">
    <div class="col-lg-3 card" style="">
    <div class=" row">
    <img    width="100" height="100" src="img/chat bot (2).gif" />
    <p>fejvnoefinvoeifnvoi</p>
    </div>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-6">
    <img class="rebot" src="img/devices-cuate.png" />
    </div>

    @*<div class="col-lg-1">
    </div>*@
    @*   </div>
    </div>*@
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-8" style="margin-top:70px;">
                @*
                <p style="font-size:70px;font-family:Forte;margin-bottom:1px; color:#434548"><span style="color:#ca4a3b">U</span>Bots </p>
                *@
                <p style="font-size:50px;font-family:Forte;margin-bottom:1px; color:#434548"><span style="color:#7995be">T</span>echnical support</p>
                <p style="font-size:20px;font-weight:300; color:#434548">
                    A chatbot is a program that simulates human-like conversations with users via chat, Its primary function
                    In responding to user questions via instant messages

                </p>
            </div>


            <div class="col-lg-3" style="">
                @*<img class="rebot" src="img/chatbot.gif" />*@
                <img height="300" width="300" src="img/computer troubleshooting-amico (1).png" />
                
                @*   <img class="rebot" src="img/chat bot (2).gif" />*@
            </div>
        </div>
    </div>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
            </div>

            <div class="col-lg-3" style="">
                @*<img class="rebot" src="img/chatbot.gif" />*@
                <img height="300" width="300" src="img/online consulting-rafiki (1).png" />
                @*   <img class="rebot" src="img/chat bot (2).gif" />*@
            </div>


            <div class="col-lg-8" style="margin-top:70px;">
                @*                <p style="font-size:70px;font-family:Forte;margin-bottom:1px; color:#434548"><span style="color:#ca4a3b">U</span>Bots</p>
                *@
                <p style="font-size:50px;font-family:Forte;margin-bottom:1px; color:#434548"><span style="color:#7995be">C</span>onsulting services</p>
                <p style="font-size:20px;font-weight:300; color:#434548">
                    A chatbot is a program that simulates human-like conversations with users via chat, Its primary function
                    In responding to user questions via instant messages

                </p>
            </div>
        </div>
    </div>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-8" style="margin-top:70px;">
                @*                <p style="font-size:70px;font-family:Forte;margin-bottom:1px; color:#434548"><span style="color:#ca4a3b">U</span>Bots</p>
                *@
                <p style="font-size:50px;font-family:Forte;margin-bottom:1px; color:#434548"><span style="color:#7995be">U</span>ser training</p>
                <p style="font-size:20px;font-weight:300; color:#434548">
                    A chatbot is a program that simulates human-like conversations with users via chat, Its primary function
                    In responding to user questions via instant messages

                </p>
            </div>


            <div class="col-lg-3" style="">
                @*<img class="rebot" src="img/chatbot.gif" />*@
                <img height="300" width="300" src="img/online consulting-pana.png" />
                
                @*   <img class="rebot" src="img/chat bot (2).gif" />*@
            </div>
        </div>
    </div>
    <br />
    @* <div class="card" style="width: 18rem;">
    <div class="card-body">
    <img width="200" height="100" src="img/chat bot (3).gif" />
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
    </div>*@

    <hr />
    <div class="row">
    
        <div class="card" style="width: 18rem; margin:7px">
            <img class="card-img-top" src="img/server-amico (1).png" alt="Card image cap">
            <div class="card-body">

                <h5 class="card-title" style="font-family:Forte;margin-bottom:1px; color:#434548"><span style="color:#7995be">C</span>onsulting services</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
        </div>
        <div class="card" style="width: 18rem; margin:7px">
            <img class="card-img-top" src="img/site stats-amico.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="font-family:Forte;margin-bottom:1px; color:#434548"><span style="color:#7995be">C</span>onsulting services</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
        </div>
        <div class="card" style="width: 18rem; margin:7px">
            
            <img class="card-img-top" src="img/site stats-cuate.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="font-family:Forte;margin-bottom:1px; color:#434548"><span style="color:#7995be">C</span>onsulting services</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
            </div>
        </div>
        <div class="card" style="width: 18rem; margin:7px">
            
            <img class="card-img-top" src="img/code typing-cuate.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="font-family:Forte;margin-bottom:1px; color:#434548"><span style="color:#7995be">C</span>onsulting services</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
        </div>

    </div>


    <br />


</section>


@code {

}
