@inherits LayoutComponentBase

<div class="page">


    @*  <link href="~/css/fontawesome-free/css/all.css" rel="stylesheet" />*@

    <main>
        <div style="background-color:white;padding-right:100px;border-bottom-width:0" class="top-row px-4 ">
            <a class="A_heder" style="font-family:DROID;" href="https://docs.microsoft.com/aspnet/" target="_blank">Servies</a>
            <a class="A_heder" style="font-family:DROID;" href="https://docs.microsoft.com/aspnet/" target="_blank"> Contect us</a>
            <a class="A_heder" style="font-family:DROID;" href="https://docs.microsoft.com/aspnet/" target="_blank">Home</a>

            <a style="font-size:40px;font-family:Forte;color:#434548;" href="https://docs.microsoft.com/aspnet/" target="_blank"><span style="color:#8da9ee">U</span>Bots</a>
            <div type="button" class="btn ms-3 left">Login</div>
            <div type="button" class="btn left2">Register</div>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@*<!-- Footer -->
<footer class="text-center text-lg-start mystyle" >
    <!-- Section: Social media -->
    <section class="nonunderline d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
        <!-- Right -->
        <div>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <!-- Section: Links  -->
    <section class="nonunderline">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-secondary"></i>Company name
                    </h6>
                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        -<a href="#!" class="text-reset"> Angular</a>
                    </p>
                    <p>
                        -<a href="#!" class="text-reset">React</a>
                    </p>
                    <p>
                        -<a href="#!" class="text-reset">Vue</a>
                    </p>
                    <p>
                        -<a href="#!" class="text-reset">Laravel</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
*@
<!-- Remove the container if you want to extend the Footer to full width. -->
<!-- Footer -->
<footer class="text-center text-lg-start text-dark"
        style="background-color: #434548;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-4 text-white"
             style="background-color:#94b1db">
        <!-- Left -->
        <div class="me-5">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
        <!-- Right -->
        <div>
            <a href="" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold">Chat UBot</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto line" />
                    <p>

                        Chat UBot and administrative solutions developed for meeting all changes in
                        all different businesses sectors and activities in the financial and human resources management.
                    </p>
                    <div>
                        @*  <img src="img/ubot2.jpg" width="250px" height="50px"/>*@
                        <img src="img/screenshot 2023-06-13 170820.jpg" width="250px" height="50px" />
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Our Products</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto line" />
                    <p>

                        <a href="#!" class="text-dark">ONYX pro</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark">Almotakamel Pro</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark">Almotakamel plus</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark"> Almotakamel Silver</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark"> almuhaseb1</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->

                    <h6 class="text-uppercase fw-bold">Useful links</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto line" />
                    <p>
                        <a href="#!" class="text-dark">YemenSoft</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark"> Ultimate Solutions</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark">SSolutionInformatiques</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark">Ultimate Academy</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto line" />
                    <p><i class="fas fa-home mr-3"></i> Yemen ,Hadramout, Mukalla</p>
                    <p><i class="fas fa-envelope mr-3"></i> Yemensoft@gmail.com</p>
                    <p><i class="fas fa-phone mr-3"></i> + 05 234 567 88</p>
                    <p><i class="fas fa-print mr-3"></i> + 05 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright: All Rights Reserved Ultimate Solutions
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<!-- End of .container -->