body {
}
.text-dark {
    --bs-text-opacity: 1;
    color: whitesmoke;
    text-decoration-line: none;
}
.line {
   
    width: 70px;
    height: 2px;
    background-color: #48ff00;
   
}

div {
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 30%;
}

.one {
    background-color: limegreen;
    float: left;
}

.two {
    background-color: orange;
    float: left;
}